body {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
   
}




.section1{
    background-image: url(https://images01.nicepagecdn.com/a1389d7bc73adea1e1c1fb7e/2c280322883857b8975da902/classmates-friends-bag-school-educationcopy.jpg);
    width:100%;
    height:100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
   
    
}
 .header h1{
font-size: 60px;
color: red;
padding-top: 30px;
margin-bottom: 0;

}
.header h4  {
   
    font-weight:700;
}
   

.text-align{
    text-align: center;
}
.section-button button {
    color:#fff;
   border:none;
    background-color: rgb(68, 223, 68);
    text-decoration: none;
    border-radius: 50px;
    padding: 15px 63px 17px 62px;
    text-transform: uppercase;
    font-weight: 700;
    
    
}



.section2{
width:1080px;
display: flex;
flex-direction: row;
margin:0 auto;
}


.section-text {
    font-size: large;
    line-height: 25.6px;
    padding: 3rem;
    
}

.section-image img{
    width:450px;
    height:450px;
   border-radius: 50%;
   padding: 2rem 1rem;

}
.section3{
    width:1080px;
    display: flex;
    flex-direction: row;
    margin:0 auto;
       
 }
.section4 img{
    width:100%;
    height:559px;
    
    
}
.contanier-card{
    display: flex;
    flex-direction:row;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -100px;
    position: relative;
    margin-bottom: 50px;
  
}
.card1{
    width:250px;
    background-color:rgb(35, 153, 192);
    height:280px;
    color:#fff;
    padding: 20px;
    
}
.card2{
    width:250px;
    background-color:rgb(69, 223, 69);
    height:280px;
    color:#fff;
    padding: 20px;
    
}
.card3{
    width:250px;
    background-color:red;
    height:280px;
    color:#fff;
    padding: 20px;
    
}
.card4{
    width:250px;
    background-color:yellow;
    height:280px;
    color:black;
    padding: 20px;
    
}


.dot {
    height: 98px;
    width: 98px;
    background-color: #fff;
    border-radius: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.dot img{
    width:58px;
    height:58px;
  
   
   
}
.card1 p{
    margin:20px 0 0;
    word-wrap: break-word;
}

   

.section6{
    width:1080px;
    display: flex;
    flex-direction: row;
    margin:0 auto;
    
}
.section7{
    background-color:#65ca5a;
   
   
}
.contanier7{
    width: 600px;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 50px;
}
.text-color{
    color:#fff;
    
}
.font-size{
    font-size: 2rem;
}
.section-button7{
    padding-top: 50px;
}
.section-button7 button{
    color:black;
    background-color:#d9b10d;
    text-decoration: none;
    border-radius: 50px;
    padding: 15px 63px 17px 62px;
    text-transform: uppercase;
    font-weight: 700;
    border:none;
}

.container8{
    width:1080px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    margin-top: 40px;
}
.layout1{
    background-color: #ffcc00;
    width:300px;
    margin:10px;
   
}
.card-desgin{
padding-top: 150px;
padding-bottom: 170px;
color: rgb(17, 17, 17);
font-size: 16px;
padding-left: 10px;
padding-right:10px;


}

.imagescard{
   display: flex;
   flex-direction: row;
   
}
.img1{
    width:350px;
    height:250px;
    margin: 10px;
    background-image: url(https://images03.nicepagecdn.com/c461c07a441a5d220e8feb1a/d8ce469044b958508f4bdbab/blueschoolbackpackwithessentialsupplies_232148207678.jpg);
   background-size: cover;
}

.img2{
    width:350px;
    height:250px;
    margin: 10px;
    background-image: url(https://images03.nicepagecdn.com/c461c07a441a5d220e8feb1a/9e4ce16148dd5cbeb1065410/89f80abe-6acd-d8dc-a341-3e571206975b.jpg);
   background-size: cover;
}
.img3{
    width:350px;
    height:250px;
    margin: 10px;
   
    display: flex;   
    align-items: center;
    justify-content: center;
    font-size: 2.25rem;
   
    
}


.img4{
    width:350px;
    height:250px;
    margin: 10px;
    background-image: url(https://images03.nicepagecdn.com/c461c07a441a5d220e8feb1a/773a5aa425b1502aaac14708/f2b45624-c8f6-3aa0-0ee4-58adda3c89b0.jpg);
   background-size: cover;
}





.container9{
    width:1080px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    padding-bottom: 80px;
    margin-top: 30px;
    
}
.img5{
    width:400px;
    height:250px;
    background-image: url(https://images01.nicepagecdn.com/a1389d7bc73adea1e1c1fb7e/ce44e13b52ee5eec9d8826e4/2050938_medium2000.jpg);
   background-size: cover;
   margin-right: 30px;
}

.layoutcard2{
    width:700px;
    background-color:#f4131d;
    color:#fff;
    padding:10px 80px 20px 20px;
   
    
}
.section-button9 button{
    background-color: #d9b10d;
    color: black;
    text-decoration: none;
    border-radius: 50px;
    padding: 15px 63px 17px 62px;
    text-transform: uppercase;
    font-weight: 700;
    border:none;
}
.section10{
    width:1080px;
    display: flex;
    flex-direction: row;
    margin:0 auto;
    }
.footer{
    background-color:#333333;
    padding: 50px;
    color:beige;
}
.link{
    padding-top:50px;
}
.section11{
    background-image: url(https://images01.nicepagecdn.com/a1389d7bc73adea1e1c1fb7e/523bf066bfaa5f34a069463b/little-girl-megaphone-positive-shootcopy.jpg);
    width:100%;
    min-height:600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:50% 50%; 
}
.registration-form{
    width: 450px;
    padding-top: 90px;
}

@media screen and (max-width:600px) {
   .section2{
    flex-direction: column;
    width:350px;
   
   
   }
   .section-text {
    font-size: small;
    padding: 3rem;
    
}

.section-image img{
    width:80%;
    height:274px;
}
.section3{
flex-direction: column;
width:350px;
}
.contanier-card{
    flex-direction: column;
}
.section6{
    flex-direction: column;
    width:350px;
    }
   .container8{
    flex-direction: column;
   
    
   } 
   .layout1{
    width:250px;
    
   }
  .img1{
    width:250px;
    height:250px;
  }
  .img2{
    width:250px;
    height:250px;
  }
  .img3{
    width:250px;
    height:0;
    font-size: 0;
  }
  .img4{
    width:250px;
    height:200px;
  }
  
  .container9{
    flex-direction:column;
   
    
}
    .section10{
        width:350px;
        flex-direction: column;
    }
    .section11{
   background-position: 82.68% 50%;
   height:50vh;
}
.registration-form{
    width:100px;
}
.section1{
    background-position: 82.68% 50%;
    height:50vh;
}
.imagescard{
    width:300px;
    flex-direction: column;
}
.imagescard img{
    min-height:100px;
}
.card-desgin{
   padding: 20px 10px;
    
    
    }


}

.form-row-single{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
.form-row-double{
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}
.form-row-double .email-wrapper{
    padding-right: 20px;
}
.form-label{
font-weight: 500;
text-transform: uppercase;
}
.input-field-style{
    color: #111;
 background-color: #f2f2f2;
 border-radius: 5px;
 border: none;
 padding: 10px 12px;
 font-size: 16px;
 font-family: "Open Sans", sans-serif;
}

.input-textarea-style{
 color: #111;
 background-color: #f2f2f2;
 border-radius: 5px;
 border: none;
 padding: 10px 12px;
 font-size: 16px;
 font-family: "Open Sans", sans-serif;

}



.center-container{
    max-width: 1080px;
    margin: 0 auto;
}
      
  




